.experience .subtitle {
    color: #e0e0e0;
}

.experience_projects>p {
    font-size: 1.25rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 3.75rem;
}

.experience_enterprise>li {
    position: relative;
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    padding: 1.25rem;
    margin-bottom: 20px;
    border-radius: 4px;
}

.experience_enterprise>li::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 20px;
    top: 20px;
    left: -3px;
    border-radius: 4px 0 0 4px;
    background-color: rgb(87, 255, 9);

}

.experience_enterprise>li ul {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.experience_enterprise>li h3 {
    margin-bottom: 0.75rem;
}

.experience_enterprise>li ul a {
    padding: 0.5rem;
    background-color: white;
    border-radius: 4px;
}

@media (max-width: 800px) {

    .experience {
        grid-template-columns: 1fr;
        gap: 2.5rem;
    }

    .experience .subtitle {
        color: #141414;
    }

    .experience>p {
        font-size: 1.25rem;
    }
}

@media (max-width: 400px) {
    .experience_enterprise>li {
        grid-template-columns: 1fr;
    }
}