.footer {
    background: #000000;
}

.footer .container {
    padding: 7.5rem 1.25rem 3.75rem 1.25rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.footer_desc {
    font-size: 1.5rem;
    line-height: 1.33;
    color: #cccccc;
}

.footer_contacts li a {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 1.1;
    color: #ffffff;
    margin-bottom: 1.875rem;
}

.footer_copy {
    font-size: 1.125rem;
    color: #8f8f8f;
    grid-column: 1/-1;
}

@media (max-width: 800px) {
    .footer .container {
        grid-template-columns: 1fr;
    }

    .footer_contacts li a {
        font-size: 1.5rem;
    }
}

@media (max-width: 500px) {
    .footer .container {
        padding-top: 40px;
    }
}