/* Estilizações Globais */

body {
    margin: 0;
    font-family: 'Fira Sans', Arial, sans-serif;
    color: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

ul {
    list-style: none;
}