.header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 1.25rem;

}

.header_menu {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    justify-content: center;
}

.header_menu a {
    font-size: 1.125rem;
    line-height: 1.3rem;
    padding: 0.625rem 1.25rem;
}

@media (max-width: 800px) {
    .header {
        flex-direction: column;
        gap: 2.5rem;
        padding: 1.25rem;
    }

    .header_menu a {
        background-color: #f0f0f0;
        border-radius: 4px;
    }
}