.intro {
    align-items: center;
}

.intro h1 {
    position: relative;
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 1.875rem;
}

.intro h1::before {
    content: url("../img/detalhe.svg");
    position: absolute;
    z-index: -1;
    top: -2.25rem;
    left: -3.25rem;
}

.intro p {
    font-size: 1.5rem;
    color: #525252;
}

@media (max-width: 1000px) {
    .intro h1 {
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    .intro {
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
    }

    .intro h1 {
        font-size: 2rem;
        margin-bottom: 1.25rem;
    }

    .intro p {
        font-size: 1.25rem;
    }

    .intro h1::before {
        content: '';
        display: block;
        width: 30px;
        height: 5px;
        background: linear-gradient(to right, rgb(116, 255, 61), rgb(13, 145, 13));
        top: -5px;
        left: 0;
    }
}

@media (max-width: 400px) {
    .intro {
        grid-template-columns: 1fr;
    }

    .intro img {
        display: none;
    }
}